/* Светлая тема */
.menu-container.light {
    background-color: #ffffff;
    color: #000000;
  }
  
  /* Темная тема */
  .menu-container.dark {
    background-color: #333333;
    color: #ffffff;
  }
  
  .menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    list-style: none;
    padding: 0;
    gap: 10px;
  }
  
  .menu-link {
    text-decoration: none;
    font-weight: bold;
  }
  
  /* Светлая тема для ссылок */
  .menu-container.light .menu-link {
    color: #007bff;
  }
  
  /* Темная тема для ссылок */
  .menu-container.dark .menu-link {
    color: #bb86fc;
  }